#toggleButton{
    display: grid;
    background: hsla(229, 58%, 29%, 1);
    background: linear-gradient(355deg, hsla(229, 58%, 29%, 1) 8%, hsla(225, 22%, 50%, 1) 76%);
    background: -webkit-linear-gradient(355deg, hsla(229, 58%, 29%, 1) 8%, hsla(225, 22%, 50%, 1) 76%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#1f2e73", endColorstr="#63719B", GradientType=1 );
    height: 100%;
    grid-template-columns: 1fr;
    justify-items: center;
}
.bar{
    width: 3vw;
    height: 0.5vw;
    background-color: black;
}
#bar-bottom{
    align-self: start;
    grid-column: 1;
    margin-top: 0.7vw;
    transform: rotate(-45deg);
    transition: transform .5s ease-out;
}
#bar-top{
    align-self: end;
    grid-column: 1;
    margin-bottom: 0.7vw;
    transform: rotate(45deg);
    transition: transform .5s ease-out;
}

#bar-bottom-active{
    align-self: start;
    grid-column: 1;
    margin-top: 0.7vw;
    transform: rotate(45deg);
    transition: transform .5s ease-out;
}
#bar-top-active{
    align-self: end;
    grid-column: 1;
    margin-bottom: 0.7vw;
    transform: rotate(-45deg);
    transition: transform .5s ease-out;
}